<% layout("layouts/boilerplate") %>
<body>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3 class="text-start mb-4">Edit Listing</h3>
        <form
          method="POST"
          action="/listings/<%= listing._id %>?_method=PUT"
          novalidate
          class="needs-validation"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              id="title"
              name="listing[title]"
              value="<%= listing.title %>"
              type="text"
              class="form-control"
              placeholder="Enter title"
              required
            />
            <div class="valid-feedback">Title looks good!</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              id="description"
              name="listing[description]"
              class="form-control"
              placeholder="Enter description"
              required
              rows="3"
            >
<%= listing.description %></textarea
            >
            <div class="invalid-feedback">Description is required.</div>
          </div>

          <div class="mb-3">
            Original Listing Image <br />
            <img src="<%= originalImageUrl %>" />
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input
              id="image"
              name="listing[image]"
              type="file"
              class="form-control"
              placeholder="Enter image URL"
            />
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="price" class="form-label">Price</label>
              <input
                id="price"
                name="listing[price]"
                value="<%= listing.price %>"
                type="number"
                class="form-control"
                placeholder="Enter price"
                required
              />
              <div class="invalid-feedback">Price is required.</div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="country" class="form-label">Country</label>
              <input
                id="country"
                name="listing[country]"
                value="<%= listing.country %>"
                type="text"
                class="form-control"
                placeholder="Enter country"
                required
              />
              <div class="invalid-feedback">Country is required.</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              id="location"
              name="listing[location]"
              value="<%= listing.location %>"
              type="text"
              class="form-control"
              placeholder="Enter location"
              required
            />
            <div class="invalid-feedback">Location is required.</div>
          </div>

          <button type="submit" class="btn btn-primary add-btn">
            Update Listing
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
